<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            <p>
                Search:
                <input ng-model="$ctrl.query" />
            <p>
                Sort by:
                <select ng-model="$ctrl.orderProp">
                    <option value="name">alphabetical</option>
                    <option value="age">newest</option>
                    <option value="-age">oldest</option>
                </select>
            </p>

        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="phones">
                <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
                    <a href="#/phone-list/phones/{{phone.id}}" class="thumb">
                        <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}">
                    </a>
                    <a href="#/phone-list/phones/{{phone.id}}">{{phone.name}}</a>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>

            <!--<input type="checkbox" ng-model="$ctrl.bla">
            <div ng-hide="$ctrl.bla">jovana</div>
            <div ng-show="$ctrl.bla">sunjka</div>-->


        </div>
    </div>
</div>